*{
    margin: 0;
    padding: 0;
}
body{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.533);
}
.main{
    /* background-color: red; */
    height: 700px;
    width: 500px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.cal-txt{
    text-align: center;
    color: antiquewhite;
    margin: 10px;
}
.Calculator{
    background-color: rgba(0, 0, 0, 0.921);
    height: 640px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputb{
    background-color:  rgb(49, 47, 47);
    border: none;
    color: blanchedalmond;
    font-size: 2rem;
    padding: 0 15px;
    width: 270px;
    height: 60px;
    border-radius: 10px;
    text-align: right;
    margin: 10px;
}
.r1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    margin: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(49, 47, 47);
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: bolder;
    border: 2px solid rgb(107, 102, 102);
    width: 70px;
    height: 80px;
    margin: 5px;
   
}
.yellow{
    background-color: orange;
    
}
.grey{
    background-color: grey;
}